<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="logo.css">
</head>
<body>

<div class = "logo-background">
  <div class = "logo-inner-background">
    <div class="circle-container">
      <div class="circle-group">
          <div class="logo-circle-background-first"></div>
          <div class="logo-circle-background-second"></div>
      </div>
      <div class="circle-group">
          <div class="logo-circle-background-third"></div>
          <div class="logo-circle-background-fourth"></div>
      </div>
    </div>
    <div class="logo-circle-inner-background">
      <div class ="pointer-circle">
        <divc class="pointer-inner-circle"></div>
      </div>
    </div>
    <div class="pointer"></div>
  </div>
</div>

<template>
  <h2>Flower</h2>
</template>

<script>
    function showContent() {
        console.log('twoja stara')
    }
</script>

</body>
</html>
